#user-info_box{
    height: 100%;
    width: 100%;
}

#genernal-info{
    display: grid;
    width: 100%;
    height: 40%;
    grid-template-columns: 50% 50%; 
    grid-template-rows: 100%;
    
}
#avatar{
    width: 100%;
    height: 100%;
}
#avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#basic-info{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-left: 5%;
    background-color: rgba(244,235,235,255);
    
}
#basic-info p{
    box-sizing: border-box;
}

#basic-info #p1{
    font-size: 25px;
    font-weight: bold;
}

#Account{
    grid-area: Account;
    font-weight: bold;
    font-size: 25px;
}
#UserName-title{
    grid-area: UserName-title;
}
#UserName{
    grid-area: UserName;
}
#Email-title{
    grid-area: Email-title;
}
#Email{
    grid-area: Email;
}
#FullName-title{
    grid-area: FullName-title;
}
#FullName{
    grid-area: FullName;
}
#Role-title{
    grid-area: Role-title;
}
#Role{
    grid-area: Role;
}
#Phone-title{
    grid-area: Phone-title;
}
#Phone{
    grid-area: Phone;
}


#detail-info{
    width: 100%;
    height: 60%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(6, 1fr);
    
    align-items: center;
    grid-template-areas:
        "Account Account"
        "UserName-title UserName"
        "Email-title Email"
        "FullName-title FullName"
        "Role-title Role"
        "Phone-title Phone"
    ;
}
#detail-info .real-value{
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(230,225,255,255);
    
}
.right_panel_element{
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    
}
#Lock{
    background-color: red;
}
#Modify{
    background-color:aqua;
}
#UnLock{
    background-color: green;
}