body{
    margin: 0px;
    background-color: rgba(248,249,253,255);
    height: 100vh;
    position: relative;
}   
a{
    text-decoration-line: none;
}
#header{
    display: flex;
    width: 100%;

    position: sticky;
    top: 0px;
    
    z-index: 1;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255,212,0,255);

}
#header a{
    color: black;
    font:14px/18px Arial,Helvetica,sans-serif;
}
#brand{
    display: flex;
    align-items: center;
    flex-grow: 1;

}
#brand h1{
    font-family:cursive;
    font-style:italic;
    text-align: center;
    color: black;
}
#menu_top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 3;
}
#menu_top .menu_top_element{
    margin: 0px 20px;
}

#search{
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}
#advanced_search p{
    display: none;
}
#advanced_search:hover p{
    display: block;
    position: absolute;
    right: 50px;
    border-style: solid;
    border-radius: 30px;
    background-color: antiquewhite;
    border-color: beige;
}

#main_body{
    display: flex;
}

#left_panel{
    border-style: solid;
    height: 100vh;
    width: 13%;
    background-color: rgba(212, 195, 204, 0.8);
    border-color: rgba(182, 176, 179, 0.8);
    position: sticky;
    top: 75px;
    left: 0;
    /*border-radius: 0px 30px 0px 0px ;*/
}
#product_brand{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color:  rgba(255,255,255,0);
    margin-top: 10px;
    margin-bottom: 10px;
}
.left_panel_element, .List_of_phone{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color:  rgba(255,255,255,0);
    margin-top: 10px;
    margin-bottom: 10px;
}
.left_panel_element{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color:  rgba(255,255,255,0);
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: -2px 3px rgba(161, 108, 9, 0.971);

    cursor: pointer;
}
#oppo{
    margin-top: 75px;
    background-color: rgba(0,97,46,255);
}
#oppo a{
    color: rgba(255,255,255,255);
}
#samsung{
    background-color:rgba(0,76,171,255);
}
#samsung a{
    color: rgba(255,255,255,255);
}
#iphone{
    background-color: rgba(0,0,0,255);
}
#iphone a{
    color: rgba(255,255,255,255);
}

#main_content{
    margin-top: 10px;
    width: 74%;
    border-style: solid;
    border-color: rgba(0,0,0,0);
}
#right_panel{
    width: 13%;
}


.footer_container{
    background-color: rgba(17,17,17,255);
}
.footer_container p{
    text-align: center;
}
.announment {
    position: sticky;
    top: 100px;
    right: 0;
    height: 300px;
    padding: 0 10px;
}

@keyframes newanimation{
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}
.menu_top_element:hover{
    background-color: rgba(180, 177, 178, 0.8);
}
@keyframes rainbow {
    0% { background-color: lightblue; }
    14% { background-color: orange; }
    28% { background-color: rgb(174, 84, 5); }
    42% { background-color: rgb(218, 18, 171); }
    57% { background-color: blue; }
    71% { background-color: indigo; }
    85% { background-color: violet; }
    100% { background-color: red; }
}
.left_panel_element:hover{
    animation: rainbow 2s infinite;
}
